@{
    ViewBag.Title = ExampleChaper4.Resources.Site.Login_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>@ExampleChaper4.Resources.Site.Login_Title</h2>

<div class="alert alert-info">
    <p>@ViewBag.Message</p>
    <p>@Html.ActionLink(ExampleChaper4.Resources.Site.Login_ReturnHome, "Index", "Home")</p>
</div>